<footer style="margin-top: 190px;">
    <div class="text-center p-3" style="background-color: #3498db; color: #ffffff;">
        <h6 style="margin: 0; font-weight: bold;">Loja PetShop &copy; 2024</h6>
    </div>
</footer>


</body>
</html>
