<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<br><br>
<div class="container text-center bg-light flex-grow-1 p-3">
    <h1><strong>Bem-vindo à Loja PetShop da Jaque!</strong></h1>
    <h2> Seu animal também merece o melhor!</h2>
    <br>
    <img src="/imgs/cachorro.jpg" alt="back">
    <br><br>
    <div class="d-flex align-items-center justify-content-center">
        <span style="margin-right: 10px;"><Strong>LojaPetShop</Strong> </span>
        <img src="/imgs/petshop-logo.png" alt="logopetshop" style="width: 60px; height: auto;">
        
    </div>
</div>

<%- include ('partials/footer.ejs') %>
